{{ $original := .Page.Resources.GetMatch (.Get "src") }}
{{ $command := .Get "cmd" }}
{{ $options := .Get "opt" }}

{{ warnf "Original : %q" $original }}

{{ $image := $original }}

{{ if $command }}

    {{ if eq $command "Fit"}}
      {{ .Scratch.Set "image" ($original.Fit $options) }}
    {{ else if eq $command "Resize"}}
      {{ .Scratch.Set "image" ($original.Resize $options) }}
    {{ else if eq $command "Fill"}}
      {{ .Scratch.Set "image" ($original.Fill $options) }}
    {{ else }}
      {{ errorf "Invalid image processing command: Must be one of Fit, Fill or Resize."}}
    {{ end }}

    {{ $image = .Scratch.Get "image" }}

{{ end }}


{{ warnf "Image : %q" $image }}

<figure style="padding: 0.25rem; margin: 2rem 0">
	<img style="max-width: 100%; width: auto; height: auto;" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
	<figcaption>
	<small>
	{{ with .Inner }}
	{{ . }}
	{{ else }}
	{{ end }}
	</small>
	</figcaption>
</figure>
